# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/.idea.Duality.iml
/modules.xml
/contentModel.xml
/projectSettingsUpdater.xml
# Datasource local storage ignored files
/../../../../../../../:\Win10Doc\Duality\Duality\.idea\.idea.Duality\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
